<div class="row top-buffer bottom-buffer">
     <%= content_tag(:div, @ground.content, id: :ground_editor, class: 'ground-editor', data: @ground.editor) %>
</div>
<div class="row">
  <%= form_for(@ground, as: :ground, url: grounds_run_path, remote: true) do |f| %>
  <%= f.hidden_field :language, value: @ground.language %>
  <%= f.hidden_field :code %>
  <%= button_tag(type: 'submit', class: 'button radius') do
    content_tag(:strong, 'Run')
    end %>
  <% end %>
  <div class="rounded-panel">
  <h5>Console</h5>
  <%= content_tag(:span, '', id: :stdout) %>
  <%= content_tag(:span, '', id: :stderr) %>
  </div>
</div>

