<% options = option.to_s.pluralize(2) %>

<a href="#" data-dropdown="<%= options %>" class="tiny radius button secondary dropdown">
  <%= t("editor.select.#{option}") %> <b id="<%= option %>-name" ><%= @ground.send(options)[@ground.editor[option]] %></b></a>

<ul id=<%= options %> data-dropdown-content class="f-dropdown">

  <% @ground.send(options).each do |code, label| %>

    <li>

    <%= link_to(label,
                ground_switch_option_path(option: "#{option}", code: code),
                data: { "#{option}" => code },
                class: "#{option}-link", method: :put, remote: true) %>

    </li>

  <% end %>

</ul>
