<a href="#" data-dropdown="<%= options %>" class="tiny radius button secondary dropdown">
  <%= t("editor.select.#{option}") %> <b id="<%= option %>-name" ></b></a><br>
  <ul id=<%= options %> data-dropdown-content class="f-dropdown">
    <% @ground.send(options).each do |code, label| %>
    <li><%= link_to(label, grounds_change_option_path(option: "#{option}", value: { code: code, label: label }),
    data: { "#{option}" => { code: code, label: label } },
    class: "#{option}-link", method: :put, remote: true) %></li>
    <% end %>
</ul>