<div class="row top-buffer ground-editor-header">
  <div class="large-3 column">
    <%= render 'options_dropdown', option: 'language', options: 'languages' %>
  </div>
  <div class="large-3 column">
    <%= render 'options_dropdown', option: 'theme', options: 'themes' %>
  </div>
  <div class="large-3 column">
    <%= render 'options_dropdown', option: 'indent', options: 'indents' %>
  </div>
</div>
<div class="row bottom-buffer">
<%= content_tag(:div, @ground.code, id: :ground_editor, class: 'ground-editor', data: @ground.editor) %>
</div>
<div class="row">
  <%= form_for(@ground, as: :ground, url: grounds_run_path, method: :put, remote: true) do |f| %>
  <%= f.hidden_field :language, value: @ground.language %>
  <%= f.hidden_field :code %>
  <%= button_tag(type: 'submit', class: 'small ground-button radius') do
    content_tag(:strong, t('editor.run'))
  end %>
  <% end %>
  <div class="ground-panel">
    <h6><%= t('editor.console') %></h6>
    <div id="console"><div>
  </div>
</div>

